body {

font-family: Arial;

background-color: black;

color: white;

text-align: center;

}

h1 {

color: red;

}

.card {

background-color: blue;

padding: 5px;

margin: 20px;

border-radius: 5000px;

}
