body {

font-family: Arial;

background-color: black;

color: white;

text-align: center;

}

h1 {

color: cyan;

}

.card {

background-color: #222;

padding: 20px;

margin: 20px;

border-radius: 10px;

}
