body {

font-family: Arial;

background-color: black;

color: white;

text-align: center;

}

h1 {

color: red;

}

.card {

background-color: darkred;

padding: 5px;

margin: 5px;

border-radius: 10px;

}
