body {

font-family: Arial;

background-color: black;

color: white;

text-align: center;

}

h1 {

color: cyan;

}

.card {

background-color: blue;

padding: 40px;

margin: 40px;

border-radius: 5px;

}
