body {

font-family: Arial;

background-color: black;

color: white;

text-align: center;

}

h1 {

color: blue;

}

.card {

background-color: blue;

padding: 100px;

margin: 5px;

border-radius: 1000px;

}
